/* AuthButtons Styling */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons .login-button-homePage,
.auth-buttons .signup-button-homePage {
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.auth-buttons .login-button-homePage {
  border: 2px solid var(--color-blue-600);
  color: var(--color-blue-600);
  background-color: transparent;
}

.auth-buttons .signup-button-homePage {
  background-color: var(--color-blue-600);
  color: #fff;
  border: 2px solid var(--color-blue-600);
}

.auth-buttons .login-button-homePage:hover {
  color: #fff;
  background-color: var(--color-blue-600);
}

.auth-buttons .signup-button-homePage:hover {
  background-color: var(--color-blue-600);
}
